.wrapper {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.pull-right {
    text-align: right;
    border: 0;
}

.pull-left {
    text-align: left;
    border: 0;
}

.card {
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    padding: .6rem 1.0rem .7rem;
    margin-bottom: 1.5rem;
}