.wrapper {
    /* Text margin */
    margin: auto;
    width: 60%;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#canvas {
    border: 1px solid #000000;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.text-align-center {
    text-align: center;
}