.wrapper {
    /* Text margin */
    margin: auto;
    width: 60%;
    padding: 10px;
}

#canvas {
    border: 1px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}