.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
}

div.wrapper{
	/*Text margin*/
	margin: auto;
	width: 60%;
	padding:  10px;
}

/* All inputs preceded by another input */
input + input { 
    margin-left: 1.5rem;
}

select + select {
    margin-left: 1.5rem;
}

button + button {
    margin-left: 1.5rem;
}
